body
{
	background-repeat:no-repeat;
	background-size: 100%;
	background-position-y: center;
	background-attachment: fixed;
}
.COPE
{
	margin-left:520px;
	color:red;
}
.COPING
{
	margin-left:570px;
	color:red;
	margin-top:30px;
	margin-bottom:30px;
	
}
.Beautiful
{
	background-color:chocolate;
	background: size 50px;
	margin: auto;
	list-style: inside;
	width: 50%;
	float: left 60%;
	
}
.COPINGS
{
	margin:0 0 14px 0;
	list-style-type:none;
	margin-left: -20%;
	text-align: center;
	
}
.FOOTING
{
	margin-left:530px;
	color:red;
}
.COPINGGRILL
{
	margin-left:530px;
	color:Sienna;
}
.COPINGGRILLZ
{
	color:chocolate;
	margin-left:530px;
}
.Trip
{
	margin-left:200px;
	margin-right:200px;
}
.COPINGHAGEN
{
	margin-left:530px;
	color:red;
	margin-top:30px;
	margin-bottom:30px;
	
}